[user]
	email = tnk@daijiten.ifo
	name = mon_sat
[color]
	ui = auto
[alias]
	spush = push --receive-pack=/home/directs/local/git/bin/git-receive-pack
	spull = pull --upload-pack=/home/directs/local/git/bin/git-upload-pack
	sclone = clone --upload-pack=/home/directs/local/git/bin/git-upload-pack

